---
import FooterImage from '../../media/footer-img.webp';
---

<footer class="text-white my-5">
    <p>
        🧟 Desarrollado por Felipe - ℹ️ <a href="/about" class="text-white underline">Sobre el proyecto</a>
    </p>
</footer>